body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, 
    red,        /* Красный */
    #1e90ff,    /* Голубой */
    lime,       /* Зеленый */
    yellow,     /* Желтый */
    #800080,    /* Фиолетовый */
    orange,     /* Оранжевый */
    #808080,    /* Серый */
    #ffc0cb,    /* Розовый */
    gold,       /* Золотой */
    silver,     /* Серебряный */
    #800000     /* Бордовый */  
    );
    background-size: 600% 600%;
    -webkit-animation: GradientAnimation 15s ease infinite;
    -moz-animation: GradientAnimation 15s ease infinite;
    animation: GradientAnimation 15s ease infinite;
    background-color: #f0f0f0; /* Дополнительный фон */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@-webkit-keyframes GradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
@-moz-keyframes GradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
@keyframes GradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#result {
    text-align: center;
    margin-top: 20px;
}
